.main {
  max-width: 600px;
  width: 100%;
  height: auto;
  height: 1000vh;
  background: linear-gradient(180deg, green, yellow);
  border-left: 1px solid black;
  border-right: 1px solid black;
  position: absolute;
  left: 280px;
}
