#sidebar {
  width: 380px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  padding-left: 30px;
}

#sidebar__container {
  width: 350px;
  height: 500px;
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  z-index: 1;
  position: sticky;
  top: -560px;
}
